.content-container {
    padding-top: 62px;
}


.home-hero {
    padding-top: 50px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 61px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.hero-title-footer {
    text-align: center;
    margin: 10px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0px;
    font-size: 20px;
}

.hero-description {
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    
}

.hero-description-footer {
    margin-top: 30px;
    line-height: 50px;
    font-weight: 450;
}

.hero-title-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.hero-title-buttons a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

#hero-login {
    margin: 0px 0px 0px 70px;
    color: #fff;
    background-color: #0081f2;
}

#hero-login:hover {
    background-color: #045ac4;
}

#hero-register {
    margin: 0px 10px;
    color: #0081f2;
}

#hero-register:hover {
    background-color: #eaf2ff;

}

.yellow-highlight {
    background-color: rgb(254, 255, 210);
    background-color:  #fdfbe4;
    text-decoration: none;
    padding: 4px 5px;
    border-radius: 5px;
    white-space: nowrap;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.yellow-highlight:hover{
    background-color:  #fdfbe4;

}

.grey-highlight {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    padding: 4px 5px;
    border-radius: 5px;
    white-space: nowrap;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    
}

.text-bold {
    padding: 4px 5px;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.text-underline {
    white-space: nowrap;
    
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
    text-decoration-color: rgba(0, 0, 0, 0.5);
}


.text-underline:hover {
    text-decoration-color: rgba(0, 0, 0, 0.8);
}


.hero-carousel-container {
    width: 100%;
    max-width: 650px;
    box-sizing: border-box;
    overflow: visible;
    margin: 40px auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center;    
}


.carousel-hero-icon {
    cursor: pointer;
    opacity: 0.4;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-size: 35px ;  
    margin: 0px 20px;
}


.icon-text-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: normal;
    padding: 4px 10px;
    text-decoration: none;

    font-size: 22px;
    color: inherit;
    font-weight: 600;
}


.carousel-description {
    font-size: 16px; 
    width: 100%; 
    line-height: normal; 
    margin: 20px auto 24px auto; 
    font-weight: 533;
}

.carousel-image-with-arrows {
    width: 100%;
    position: relative; 
    line-height: normal; 
    margin: 10px auto;
}

#carousel-image-element {
    width: 100%; 
    object-fit: contain; 
    border: 1px solid rgba(0, 0, 0, .075); 
    border-radius: 7px; 
    box-shadow : 0px 36px 89px #0000000a,0px 23.3333px 52.1227px #00000008,0px 13.8667px 28.3481px rgba(0,0,0,.024),0px 7.2px 14.4625px #00000005,0px 2.93333px 7.25185px rgba(0,0,0,.016),0px 0.666667px 3.50231px #00000003;
}

.left-arrow-div, .right-arrow-div {
    width: 50%;
    height: 100%; 
    position: absolute; 
    top: 0;  
    display: flex; 
    align-items: center;
}

.right-arrow-div {
    right: 0; 
    justify-content: flex-end;
}

.left-arrow-div span, .right-arrow-div span {
    display: none;
}

.left-arrow-div:hover span,  .right-arrow-div:hover span {
    display: flex;
}

.arrow-span {
    padding: 8px; 
    height: 34px; 
    width: 34px; 
    border-radius: 100%; 
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .075); 
    box-shadow: 0px 4px 18px #0000000a, 0px 2.025px 7.84688px rgba(0,0,0,.027), 0px 0.8px 2.925px #00000005, 0px 0.175px 1.04062px rgba(0,0,0,.013);
}


#carousel-get-started{
    color: #0081f2;
    text-decoration: none;
}

#carousel-get-started:hover {
    color: #1173c9;
}