* {
    margin :0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: #121212;
}

::selection {
    background: #F6F7C4;
  }

.navbar {
    height: 62px;
    display: flex;
    align-items: center;
    position: relative; /* Add this line */
}

.navbar::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.nav-logo {
    height: 32px;
    width: 92px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}


.logo {
    background-image: url("notion.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.logo-text {
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav-inner-left {
    display: flex;
    margin-left: 0px;
    gap: 2px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0;
}

.nav-list-item {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 31px;
    border-radius: 4px;
    font-size: 0.9375rem;
    color: #050505;

    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.nav-list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-inner-right {
    position: relative;
    margin-right: 20px;
}

.nav-menu-divider {
    width: 1px;
    background: rgba(0, 0, 0, .1);
    height: 20px;
    margin: 0 10px;
}

.pseudo-button {
    background-color: #121212;
    border-radius: 4px;
    color: #ffffff;
}

.pseudo-button:hover {
    background-color: #333333;
    cursor: link;
}

.content-container {
    background-color: antiquewhite;
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 60%;
    background-color: ;
    border: ;
}

.calander {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.calander-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: ;
    height: 7%;
    border: ;
}

.calander-month {
    display: flex;
    height: 100%;
    width: 100%;
    margin: ;
    justify-content: space-evenly ;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.calander-month-year {
    width: 20%;
    word-spacing: 0.5em;
    color: rgba(18, 18, 18, 0.6);
    padding: 0.5%;
}

.arrow {
    background: none;
    border: none;
    padding: 50%;
    border-radius: 50%;
    opacity: 0.35;

}

.arrow:hover {
    opacity: 0.6;
    background-color: rgba(0, 0, 0, .05);
}

.calander-body {
    height: 80%;
    border: ;
    margin: ;
    display: flex;
    flex-direction: column;
}

.calander-week-head {
    display: flex;
    height: 5%;
    margin:  0 0 20px 0;
    border: ;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.1rem;

}

.calander-week {
    display: flex;
    height: 13.5%;
    /* In CSS, when you set the margin as a percentage, 
    it's calculated based on the width of the parent container, not the height. 
    This is true even for top and bottom margins. */
    margin: 5px 0;
    justify-content: space-evenly;

}

.calander-day-name {
    width: 12%;
    color: rgba(18, 18, 18, 0.6)
}

.calander-day-date-blank {
    width: 12%;
}

.calander-day-date {
    width: 12%;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.calander-day-date-number {
    position: absolute;
    bottom: 6px;
    right: 8px; 
    color: rgba(90, 90, 90, 1);
}


.calander-day-date-add {
    font-size: 30px;
    fill: rgba(90, 90, 90, 0.3);
}

.calander-day-date-add:hover {
    fill: rgba(90, 90, 90, .6) ;
}

#preview-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.3); /* black wwith alpha opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Optional: for styling */
    animation-name: animatetop; /* Optional: for animation */
    animation-duration: 0.4s; /* Animation duration */

    flex-direction: column;
    align-items: center;
    justify-content: center;


    /* text properties same as navbar items */
    font-size: 0.9375rem;
    color: #050505;

    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

#modal-image-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 60%;
}

#modal-image-container {
    height: 75%; 
    border: 2px solid black;
    position: relative; 
}

#modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal-image-date {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18%;
    padding: 0 4px 0 3px;
    position: absolute;
    bottom: 6px;
    right: 8px; 
    font-size: 1.1em;
    color: rgb(0, 0, 0);
}

#modal-date {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    height: 10%;
}

#modal-input-text-holder {
    border:;
    height: 28%;
    display: flex;
    justify-content: center;
}

#modal-input-text {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 4px;
    text-align:center;
    /* text properties same as navbar items */
    font-size: 0.9375rem;
    color: #050505;

    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
#modal-input-text:focus {
        outline: 2px solid rgba(167, 146, 119, 0.4);
        outline: none;
}

#modal-buttons
{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#submitBtn {
    font-size: 1.15em;
    padding: 5px;
    border-radius: 4px;
    text-decoration: underline 2px;
    text-decoration-color: #fefefe;
    text-underline-offset: 4px; 

}

#submitBtn:hover {
    text-decoration-color: #D4E7C5;
    cursor: pointer;
}
#discardBtn {
    font-size: 1.15em;
    padding: 5px;
    border-radius: 4px;
    text-decoration: underline 2px;
    text-decoration-color: #fefefe;
    text-underline-offset: 4px; 
}

#discardBtn:hover {
    text-decoration-color: #FFD0D0;
    cursor: pointer;
}