body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-color: #eae0da;
    /*other choices: dfebeb , f5ebe0 f8ece9*/

}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.login-form input[type="text"],
.login-form input[type="password"] {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: inherit;
}

.login-form button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%; /* Set width to 100% to occupy the container's width */
    max-width: 150px; /* Set a max-width to prevent button from spanning full width */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #AFD198;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
  }

.login-form button[type="submit"]:hover {
    background-color: #9bbb85;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: 2px solid #AFD198; /* Change the color and width of the outline */
    /* Add any other styles you want to apply when the field is focused */
}

::selection {
    background: #F6F7C4;
  }

p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#title {
    font-size: 300px;
    color: #212529;
    opacity: 0.6;
}

.description {
    font-size: 22px;
    font-family: Fraunces;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
}

a:link, a:visited {
    color: inherit;
    text-transform: ;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:link:hover, a:visited:hover {
    opacity: 1;
    text-decoration: none;
    border-bottom: 1px solid rgba(21, 25, 29, 0.9);
}