.content-container {
    background-color: ;
    height: calc(100vh);
    padding-top: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 60%;
    background-color: ;

}

.user-info {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 50px;

}

.user-name {
    margin-bottom: 5px;
    text-align: center;
    color: rgba(18, 18, 18, 0.9);
    padding: 0.5%;

    font-size: 1.8em;
    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.user-stats {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;

}

.user-stats span {
    color: rgba(18, 18, 18, 0.7);
    padding: 3px 0px;
}

.entry-list-table {
    width: 100%;
    height: 80%;
    overflow-y: auto; /* Added to allow scrolling */

}

.entry-list-table::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.entry-list-table::-webkit-scrollbar-track {
    /* the long line on which scrollbar glides */
    background: rgba(255, 213, 75, 0.2); 
    border-radius: 10px;
}

.entry-list-table::-webkit-scrollbar-thumb {
    /* scrollbar bit */
    background-color:rgba(252, 209, 80, 0.45);
    border-radius: 15px;
    border: 1px solid #ffffff;
}

.entry-list-head {
    font-size: 18px;
    padding-bottom: 10px;
    overflow: hidden;
    width: 100;
    display: flex;
    color: rgba(255, 191, 0, 0.65);
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    background-color: #fff; /* Background color to overlay the entries */
    z-index: 10; /* Ensure the header stays on top */
}

.entry-list-head::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.entry-list-head-item {
    padding: 5px 8px;
    display: flex;
    width: 25%;
}

.entry-list-head-item:nth-child(1) {
    width: 10%;
}


.entry-list-head-item{
    padding: 5px 8px;
    width: 30%;
    color: rgba(55, 53, 47, 1);
}

.entry-list-head-item:nth-child(1) {
    padding: 5px 8px;
    width: 10%;
    color: rgba(55, 53, 47, 1);
}



.entry-list-head-icon {
    font-size: 16px;
    padding: 1px 4px 0px 0px;
    display: flex;
    align-items: center;
    fill: rgba(55, 53, 47, 0.65);
}

.entry-list-head-icon-svg {
    fill: rgba(55, 53, 47, 0.45);
}

.entry-list-head-title{
    color: rgba(55, 53, 47, 0.75);
    display: flex;
    display: flex;
    align-items: center;    
}

.row-wrapper-link {
    text-decoration: none;
}

.entry-list-entry {
    overflow: hidden;
    width: 100;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.entry-list-entry::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}


.entry-list-entry:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.entry-list-entry div {
    padding: 5px 8px;
    width: 30%;
    color: rgba(55, 53, 47, 1);
}

.entry-list-entry div:nth-child(1) {
    padding: 5px 8px;
    width: 10%;
    color: rgba(55, 53, 47, 1);
}

.entry-list-entry div:nth-child(1),
.entry-list-entry div:nth-child(2),
.entry-list-entry div:nth-child(3) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#delete-account-trigger {
     margin-top: 20px; 
    padding: 5px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.05); 
    font-optical-sizing: auto; 
    font-weight: 570; 
    font-style: normal; 
    font-variation-settings: 'slnt' 0;"
}


#preview-modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.3); /* black wwith alpha opacity */
    align-items: center;
    justify-content: center;
}

#modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Optional: for styling */
    animation-name: animatetop; /* Optional: for animation */
    animation-duration: 0.4s; /* Animation duration */

    display: flex;
    flex-direction: column;
    justify-content: space-around;


    /* text properties same as navbar items */
    font-size: 0.9375rem;
    color: #050505;

    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

#modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-title {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-align: center; 

    line-height: 28px;
}

#modal-confirmation-holder {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#modal-confirmation-text {
    margin: 15px;
    font-weight: 450;
}

#modal-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

#modal-yes {
    font-size: 1.15em;
    padding: 5px;
    border-radius: 4px;
    text-decoration: underline 2px;
    text-decoration-color: #fefefe;
    text-underline-offset: 4px; 

}

#modal-yes:hover {
    text-decoration-color: #D4E7C5;
    cursor: pointer;
}

#modal-discard {
    font-size: 1.15em;
    padding: 5px;
    border-radius: 4px;
    text-decoration: underline 2px;
    text-decoration-color: #fefefe;
    text-underline-offset: 4px; 
}

#modal-discard:hover {
    text-decoration-color: #FFD0D0;
    cursor: pointer;
}

.confirmation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-top: 4px;
    margin-bottom: 5px;
    width: 100%;
    padding: 4px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: space-between;
}

.input-container-focus {
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(35, 131, 226, .57), 0 0 0 2px rgba(35, 131, 226, .35) !important;
}

.input-password {
    padding: 0px;
    font-size: 15px;
    line-height: 26px;
    border: none;
    height: 100%;
    width: 90%;
}

.password-eye {
    font-size: 18px;
    fill: rgba(15, 15, 15, 0.5);  
}
.password-eye:hover {
    fill: rgba(15, 15, 15, 0.7); 
}

.input-password:focus {
    outline: none;
    box-shadow: none !important;
}

#error-message {
    display: none;
    font-size: 14px;    
    color: #D37676;
}


#delete-account {
    text-decoration: none;
    border: none;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;

    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    
}

#delete-account:hover {
background-color: rgba(255, 0, 0, 0.2);
}
