.content-container {
    padding-top: 62px;
}


.home-hero {
    padding-top: 50px;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 61px;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.hero-title-footer {
    margin: 10px;
    text-align: center;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.hero-image-container {
    margin: 0px;
    height: 600px;
    width: 80%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0px;
    height: 400px;
    font-size: 20px;
}

.hero-description {
    margin: 20px 0px;
    line-height: 30px;
    font-weight: 500;
}

.hero-description-footer {
    margin: 60px 0px;
    line-height: 50px;
    font-weight: 450;
}

.hero-title-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.hero-title-buttons a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

#hero-login {
    margin: 0px 0px 0px 70px;
    color: #fff;
    background-color: #0081f2;
}

#hero-login:hover {
    background-color: #045ac4;
}

#hero-register {
    margin: 0px 10px;
    color: #0081f2;
}

#hero-register:hover {
    background-color: #eaf2ff;

}

.yellow-highlight {
    background-color: rgb(254, 255, 210);

    text-decoration: none;
    padding: 4px 5px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.yellow-highlight:hover{
    background-color:  rgba(246, 247, 196, 0.7);

}

.grey-highlight {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    padding: 4px 5px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    
}

.text-bold {
    padding: 4px 5px;
    border-radius: 5px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}