
.content-container {
    background-color: #;
    height: calc(100vh);
    padding-top: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 60%;
    background-color: ;
    padding: 20px;

}

.day-page-container {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;    
}

.day-page-body {
    height: 67%;
}

.day-page-image-container {
    height: 83%;
    border: ;
    margin: ;
    display: flex;
    flex-direction: column;

}

.day-page-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.day-page-delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: ;
    height: 7%;
    overflow: ;
}


.bin {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 25px;
    opacity: 0.35;
}

.bin:hover {
    opacity: 0.6;
    fill: red;
    background-color: rgba(0, 0, 0, .05);
}

.day-page-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: ;
    height: 10%;
    overflow: ;
}

.calendar-month {
    display: flex;
    height: 100%;
    width: 100%;
    margin: ;
    justify-content: center ;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    text-transform: ;
}

.calendar-month-year {
    width: 60%;
    word-spacing:;
    color: rgba(18, 18, 18, 0.9);
    padding: 0.5%;

    font-size: 1em;
    color: #3d3939 ;
    position: ;
    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.calander-back-home {
    text-decoration: none;
}

.calander-back-home:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #838383;
}


.arrow {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 50%;
    opacity: 0.35;
}

.arrow:hover {
    opacity: 0.6;
    background-color: rgba(0, 0, 0, .05);
}

.description-status {
    height: 5%;
    opacity: 0.35;
    text-align: center;
    font-size: 1.2em;
}

.day-page-description {
    height: 25%;
    padding-top: 10px;
    color: #86868b;
    /* little darker: 717175*/
    text-align: center;
    overflow: auto;

}

.back-to-home {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.back-to-home a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(18, 18, 18, 0.75);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;

}

.back-to-home a:hover {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(18, 18, 18, 0.9);
}

#notification-bar {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 62px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    color: #050505; 
    text-align: center;
    padding: 10px 0;
    z-index: 1; /* Make sure it appears above other content */
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);

    /* font settings */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

#notification-buttons {
    margin-left: 10px;
    display: none;
}

#notification-buttons div {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 2px;
    fill: rgba(0, 0, 0, 0.8);

}

#notification-yes {
    font-size: 20px;
    padding: 2px 10px;
}

#notification-no {
    padding: 2px 12px;
}

#notification-yes:hover {
    background-color: rgba(207, 81, 100, 0.5);
    fill: rgba(0, 0, 0, 1);
}

#notification-no:hover {
    background-color: rgba(165, 221, 155, 0.4) ;
    background-color: rgba(0, 0, 0, 0.08);
    fill: rgba(0, 0, 0, 1);
}