.content-container {
    padding-top: 62px;
}


.home-hero {
    padding-top: 50px;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 61px;
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.hero-title-footer {
    margin: 10px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.hero-image-container {
    margin: 0px;
    height: 600px;
    width: 80%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-title-buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.hero-title-buttons a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 570;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

#hero-login {
    margin: 0px 0px 0px 70px;
    color: #fff;
    background-color: #0081f2;
}

#hero-login:hover {
    background-color: #045ac4;
}

#hero-register {
    margin: 0px 10px;
    color: #0081f2;
}

#hero-register:hover {
    background-color: #eaf2ff;

}