{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>About Fiore</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_landing.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
{% endblock %}

{{ url_for('uploaded_file', filename=images_by_day[day]['image_path']) }}

{% block content %}

<div class="content-container">
    <div class="content">
        <div class="home-hero">
            <div class="hero-title">
                About Fiore
            </div>
            <div class="description-container">
                <div class="hero-description-footer">
                    <div>
                        Journaling is probably one of the most rewarding habits one can develop, and when it comes to developing a habit, behaviour change plays a big role. 
                        <br>
                        <div style="line-height: 60px;">
                            As <a class="text-bold">James Clear</a> said in <a class="yellow-highlight">Atomic Habits</a>,
                            <a href="#james" target="_blank" class="text-bold">make it obvious,</a> <a href="#james" target="_blank" class="text-bold">make it attractive,</a>
                            <a href="#james" target="_blank" class="text-bold">make it easy,</a> <a href="#james" target="_blank" class="text-bold">make it satisfying.</a>
                            <a class="grey-highlight">Fiore tries to do just that to the way we journal!</a>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        Fiore works by <a title="fiore">framing instances on rectangles everyday</a> and creating a calendar that is uniquely yours.
                        It's like flipping a page on your calendar, but on each day, you see a glimpse of what your day was like. Fiore supports the most common image formats and has a very minimal UI, 
                       <a class="grey-highlight">reducing the friction between you and your next journal entry. </a>           
                    </div>
                    <div style="margin-top: 20px;">
                        Fiore is inspired by <a href="https://maps.app.goo.gl/sFZakMTtuCAuGXB56" target="_blank" class="yellow-highlight">a touch of Italy</a>. <a class="yellow-highlight">The islands</a>, <a class="yellow-highlight">the landscapes</a> and <a class="yellow-highlight">the beaches</a>,
                        they reflect the calmness that comes with <a href="https://youtu.be/2mafGDk2Rl4?si=hPVpkTk7dfikVcGK" target="_blank" class="text-bold">intentional living</a> and the calmness that Fiore brings to your journaling experience.
                    </div>
                    <div style="margin: 30px 0px;">
                       <span>We hope you enjoy your stay at Fiore!</span>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>


{% endblock %}