{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>About Fiore</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_landing.css') }}">
{% endblock %}

{{ url_for('uploaded_file', filename=images_by_day[day]['image_path']) }}

{% block content %}

<div class="content-container">
    <div class="content">
        <div class="home-hero">
            <div class="hero-title">
                About Fiore
            </div>
            <div class="description-container">
                <div class="hero-description-footer">
                    <div>
                        Journaling is probably one of the most rewarding habits one can develop. And when it comes to developing a habit, behaviour change plays a big role. 
                        <br>
                        <div style="line-height: 60px;">
                            As <a class="text-bold"  style="text-decoration: none;">James Clear</a> said in <a class="text-bold"  style="text-decoration: none;">Atomic Habits</a>,
                            <a href="#james" target="_blank" class="text-bold">make it obvious</a>, <a href="#james" target="_blank" class="text-bold">make it attractive</a>,
                            <a href="#james" target="_blank" class="text-bold">make it easy</a>, <a href="#james" target="_blank" class="text-bold">make it satisfying</a>.
                            <a class="text-" style="text-decoration: none;">Fiore tries to do just that to the way we journal!</a>
                        </div>
                    <div style="">
                        Just pick a date from your calendar, upload an image, add a description if you like, and done. Fiore supports the most common image formats and has a very minimal UI, reducing the friction between you and your next journal entry.           
                        You can reflect each day with a picture, which becomes a permanent memory in that rectangular frame, and all these frames come together to make your very own Fiore!
                    </div>
                    <div style="margin-top: 10px;">
                        Fiore is inspired by a touch of <a href="https://maps.app.goo.gl/sFZakMTtuCAuGXB56" target="_blank" class="yellow-highlight">Italy</a>. The <a class="yellow-highlight">islands</a>, the <a class="yellow-highlight">landscapes</a>, and the <a class="yellow-highlight">beaches</a>, they reflect the calmness that comes with <a href="https://youtu.be/2mafGDk2Rl4?si=hPVpkTk7dfikVcGK" target="_blank" class="yellow-highlight">intentional living</a> and <a class="pink-highlight">the calmness that Fiore brings with it's journaling</a>.
                    </div>
                    <div style="margin: 20px 0px;">
                        <span class="text-bold">We hope you enjoy your stay at Fiore!</span>
                    </div>
                </div> 
                /div>        
            </div>
        </div>
    </div>
</div>


{% endblock %}