k{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>Acknowledgements</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_landing.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <style>
        .story-display-none {
            display: none;
        }
        .story-toggle-blue {
            color: #0081f2;
        }

        .story-toggle-blue-lighter {
            color: rgb(158, 210, 245) ;
        }

        #story-text{
            /*
            padding: 0px 10px; 
            background-color: rgba(0, 204, 255, 0.01);
            border: 1px solid rgba(0, 0, 0, .075);
            border-radius: 7px;
            */
        }
    </style>
{% endblock %}

{% block content %}

<div class="content-container">
    <div class="content">
        <div class="home-hero">
            <div class="hero-title">
                Thank you for making this possible
            </div>
            <div class="description-container">
                <div class="hero-description-footer" style="text-align: justify;">
                    <div style="margin-bottom: 15px;">
                        <a target="_blank" class="grey-highlight">This is <span style="text-decoration:line-through; text-decoration-thickness: 1px; opacity: 0.6;">a</span> CS50 <span style="text-decoration:line-through; text-decoration-thickness: 1px; opacity: 0.6;">project</span>.</a>
                        <br>
                        <div style="text-align: right;">
                            <a target="_blank" class="text-dsunderline">Perhaps, the course that shaped me as a programmer, and more so a problem solver</a> <span title="Read more" id="story-toggle" class="story-toggle-blue"  style="cursor: pointer;">...</span>
                        </div>
                    </div>
                    <div id="story-text" class="story-display-none" style="justify-content: left; margin: 15px 0px;">
                        When I started thinking of a project idea, initially I wanted to create a mini version of <a class="text-underline" href="https://www.geoguessr.com/"> Geoguessr</a> because I loved it so much (basically a game where you are placed in a random street view around the world and you have to guess where you are), and when I saw it was possible via <a class="text-underline" href="https://openguessr.com/">OpenGuessr</a>, I was eager to start my final project for CS50.
                        However, I soon realized that Geoguessr relies on Google Street View, and using it's API requires a Google Cloud account, which involves billing and a credit card- something I didn't have at that time.
                        This was a frustrating setback, especially since the idea to create a mini Geoguessr had excited me so much.
                        <br>
                        It was also around the time Apple was having one of their WWDC events, and me having watched that, YouTube was recommending me older WWDC videos. And that's when I saw WWDC 2013.
                        <div style="text-align: center; margin: 5px 0px;">
                            The first thing we ask is</a> <a target="_blank" class="grey-highlight"> what do we want people to feel?</a>
                        </div>
                        That line hit me. As someone who always saw exploring street view as a means of escape, a calming feeling waiting for me in a random street of the world, 
                        I knew what I wanted my project to make people feel.
                        <br>
                        I also had started journaling, thanks to <a class="text-underline" href="https://youtube.com/@unjadedjade?si=5wTQWJ2Yxvby-Smi">Jade</a>, <a class="text-underline" href="https://youtu.be/rfeADdY1rHw?si=E9oqRKs0nkAiU1B9">Nathaniel</a>, <a class="text-underline" href="https://youtube.com/@malamalife?si=JbBsnp9NorT1PCfL">Sophie</a>, <a class="text-underline" href="https://youtu.be/JHKiDe8E4hY?si=wx-zuqzTXF0_5pUl">Ali</a> and <a class="text-underline" href="https://youtu.be/ZK5VUuxGYr0?si=pASTZSfYItzVb7nH">Sadia</a>. It was a mixed experience at first because I had just started, but quickly things started connecting.
                        What made it easier to journal was on <a class="text-underline" href="https://youtu.be/JHKiDe8E4hY?si=wx-zuqzTXF0_5pUl">Ali's suggestion</a> to try an app called <a class="text-underline" href="https://dayoneapp.com/web/">Day One</a>, a digital journal where on a free account, you were limited to one entry a day.
                        And this free plan limitation surprisingly ended up helping me in simplifying my journaling habits!
                        <br>
                        This limitation and the new found simplicity ultimately landed me on a vague idea I sketched on my <a class="text-underline" href="https://keep.google.com/">Keeps</a> one night. And I thought, if I could combine the feeling of looking at a place or a memory and associating it with a day, it could work.
                        Then came the idea for Fiore! Framing instances on rectangles everyday!
                        This project made me realize that there's so much to learn for me and it also made me realize that I infact did when I finally solved each challange whether it was flying the nett and setting up local development and making Flask work, or going from a table tag to divisions that represent days in Fiore now :)
                    </div>
                    <div>
                        I have always been a Notion user, and one thing that was really inspiring to me was how they kept everything so simple yet organized. I specially loved their website, and used to think that one day I would make one like this. And that's how the design of the website got finalized. It really reciprocated with the calmness of Fiore as well.
                        Coming to the libraries, and acknowledgements realted to code, Google Fonts provided the font Inter, and it's font variations are used across the website. I made this project on Visual Studio Code. 
                        The backend language was Python and the web framework used was Flask.
                    </div>
                    Here's all the Python libraries that hepled me make it possible.
                    <ul style="text-align: left; font-size: 19px; line-height: 40px; margin-left: 15px;">
                        <li>cs50 (also provided SQL features)</li>
                        <li>flask</li>
                        <li>flask_sessions</li>
                        <li>werkzeug.security</li>
                        <li>werkzeug.utils</li>
                        <li>Built-in Python libraries: calendar, datetime, functools, logging, os, re, uuid</li>
                    </ul>
                    I ran Ubuntu in WSL. Additionally, I want to also thank Stack Overflow, the visits to which got more and more frequent as the project expanded. This project also introduced me to Git and Github, and Fiore's repository can be found <a class="text-underline" href="https://github.com/tintedwindow/fiore">here</a>. 
                    <br>
                    Once again, in this project I was standing on the shoulder of giants. 
                    <br>
                    So, from the bottom of my heart, thank you!
                </div>
                <div style="display: flex; display: none; flex-direction: row; width: 100%; justify-content: space-between;">

                    <div class="resource-box" style="width: 356px; height: 416px; background-color: #f7f9fd; 
                    border-radius: 16px; box-shadow: 0 2px 5px 0 rgba(60, 64, 67, .05); padding: 20px;">
                        <div class="recource-box-image-container" style="background: linear-gradient(to right, #dec3e2, #cebdfe); border-radius: inherit; height: 50%;">
                            <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg"; 
                            style="width: 100%; height: 100%; object-fit: contain;
                              -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                              filter: grayscale(100%);">
                        </div>
                        <div class="reaource-box-head">Italy</div>
                        <div class="resource-box-text"></div>
                        <div class="resource-box-button"></div>
                        
                    </div>
                    <div class="resource-box" style="width: 356px; height: 416px; background-color: #f7f9fd; 
                    border-radius: 16px; box-shadow: 0 2px 5px 0 rgba(60, 64, 67, .05); padding: 20px;">
                        <div class="recource-box-image-container" style="background: linear-gradient(to right, #dec3e2, #cebdfe); border-radius: inherit; height: 50%;">
                            <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg"; 
                            style="width: 100%; height: 100%; object-fit: contain;
                              -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                              filter: grayscale(100%);">
                        </div>
                        <div class="reaource-box-head">Music Playlist</div>
                        <div class="resource-box-text"></div>
                        <div class="resource-box-button"></div>
                        
                    </div>
                    <!-- Each div can be a rectangle, which has title, then the description. With ha button for the link -->
                    <!--
                    Plan to put this on the resources tab alone and leave the paragraph acknowledgements here
                        <div> Rectangle 1
                            <div> Heading div </div>
                            <div> Description</div>
                            <div> Link button</div>

                        </div>
                        <div> Rectangle 2</div>
                        <div> Rectangle 3</div>
                        <div> Rectangle 4</div>

                        !!! add about inspiratoon of Wizarding world behind apologies!
                    -->
                </div>        
            </div>
        </div>
    </div>
</div>




<script>
     document.addEventListener("DOMContentLoaded", function() {

        let storyToggle = document.getElementById("story-toggle");
        let storyText = document.getElementById("story-text");

        storyToggle.addEventListener("click", function() {
            storyToggle.classList.toggle('story-toggle-blue');
            storyToggle.classList.toggle('story-toggle-blue-lighter');
            storyText.classList.toggle('story-display-none');
        })
     })
</script>
{% endblock %}
