{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>Acknowledgements</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_landing.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <style>
        .story-display-none {
            display: none;
        }
        .story-toggle-blue {
            color: #0081f2;
        }

        .story-toggle-blue-lighter {
            color: rgb(158, 210, 245) ;
        }

        .acknowledgement-link-temp {
            text-decoration: underline;
            text-decoration-color: rgb(158, 210, 245);
            text-decoration-thickness: 1px;
            text-underline-offset: 7px;
        }

        .acknowledgement-link {
            color: #2b70ad;
            text-decoration :none;
        }        

        #story-text{
            /*
            padding: 0px 10px; 
            background-color: rgba(0, 204, 255, 0.01);
            border: 1px solid rgba(0, 0, 0, .075);
            border-radius: 7px;
            */
        }
    </style>
{% endblock %}

{% block content %}

<div class="content-container">
    <div class="content">
        <div class="home-hero">
            <div class="hero-title">
                Thank you for making this possible
            </div>
            <div class="description-container">
                <div class="hero-description-footer" style="text-align: justify;">
                    <div style="margin-bottom: 15px;">
                        <a target="_blank" class="grey-highlight">This is <span style="text-decoration:line-through; text-decoration-thickness: 1px; opacity: 0.6;">a</span> CS50 <span style="text-decoration:line-through; text-decoration-thickness: 1px; opacity: 0.6;">project</span>.</a>
                        <br>
                        <div style="text-align: right;">
                            <a target="_blank" class="text-dsunderline">Perhaps, the course that shaped me as a programmer and more so, a problem solver</a> <span title="Read more" id="story-toggle" class="story-toggle-blue"  style="cursor: pointer;">...</span>
                        </div>
                    </div>
                    <div id="story-text" class="story-display-none" style="justify-content: left; margin: 15px 0px;">
                        When I started thinking of a project idea, initially I wanted to create a mini version of <a class="text-underline" href="https://www.geoguessr.com/"> Geoguessr</a> because I loved it so much (basically a game where you are placed in a random street view around the world and you have to guess where you are), and when I saw it was possible via <a class="text-underline" href="https://openguessr.com/">OpenGuessr</a>, I was eager to start my final project for CS50.
                        However, I soon realized that Geoguessr relies on Google Street View, and using it's API requires a Google Cloud account, which involves billing and a credit card- something I didn't have at that time.
                        This was a frustrating setback, especially since the idea to create a mini Geoguessr had excited me so much.
                        <br>
                        It was also around the time Apple was having one of their WWDC events, and me having watched that, YouTube was recommending me older WWDC videos. And that's when I saw WWDC 2013.
                        <div style="text-align: center; margin: 5px 0px;">
                            'The first thing we ask is</a> <a target="_blank" class="grey-highlight"> what do we want people to feel?</a>'
                        </div>
                        That line deeply resonated with me. As someone who always saw exploring street view as a means of escape, a calming feeling waiting for me in a random street of the world especially Italy, 
                        I knew what I wanted my project to make people feel.
                        <br>
                        I also had started journaling, thanks to <a class="text-underline" href="https://youtube.com/@unjadedjade?si=5wTQWJ2Yxvby-Smi">Jade</a>, <a class="text-underline" href="https://youtu.be/rfeADdY1rHw?si=E9oqRKs0nkAiU1B9">Nathaniel</a>, <a class="text-underline" href="https://youtube.com/@malamalife?si=JbBsnp9NorT1PCfL">Sophie</a>, <a class="text-underline" href="https://youtu.be/JHKiDe8E4hY?si=wx-zuqzTXF0_5pUl">Ali</a> and <a class="text-underline" href="https://youtu.be/ZK5VUuxGYr0?si=pASTZSfYItzVb7nH">Sadia</a>.
                        At first, the experience was mixed since I had just started, but soon everything began to fall into place.
                        What made it easier to journal was on <a class="text-underline" href="https://youtu.be/JHKiDe8E4hY?si=wx-zuqzTXF0_5pUl">Ali's suggestion</a> to try an app called <a class="text-underline" href="https://dayoneapp.com/web/">Day One</a>, a digital journal, where on a free account, you were limited to one entry a day.
                        And this free plan limitation surprisingly ended up helping me in simplifying my journaling habits!
                        <br>
                        This limitation and the new found simplicity ultimately led me to a vague idea I sketched on my <a class="text-underline" href="https://keep.google.com/">Keeps</a> one night that if I could combine the feeling of looking at a place or a memory and associating it with a day, it could work.
                        Then thus, the idea for Fiore was born: Framing Instances On Rectangles Everyday!
                        This project made me realize that there's so much to learn for me and it also made me realize that I infact did when I finally solved each challange whether it was flying the nett and setting up local development and making Flask work, or going from a table tag to divisions that represent days in Fiore now :)
                    </div>
                    <div>
                        I have always been a <a class="acknowledgement-link">Notion</a> user and I've always admired it for it's simplicity and organization. I remember, the first time visiting <a class="acknowledgement-link">their website</a> and being so inspired by it that I used to think that one day I would make one like this. This played a key role in building the design for this website, reflecting the calmness of a simple and organized journal app with added hints of Italy, Fiore.
                        <br>
                        For the project’s development, I used Google Fonts to incorporate the <a class="acknowledgement-link">Inter font</a> and it's variations throughout the website. The project was built using <a class="acknowledgement-link">Visual Studio Code</a> as my primary and only IDE. 
                        The backend language was <a class="acknowledgement-link">Python</a> and the web framework used was <a href="https://flask.palletsprojects.com/en/3.0.x/" class="acknowledgement-link">Flask</a>.
                    </div>
                    Here are the Python libraries that hepled me make this project possible.
                    <ul style="text-align: left; font-size: 19px; line-height: 40px; margin-left: 15px;">
                        <li><a href="https://cs50.readthedocs.io/libraries/cs50/python/" class="acknowledgement-link">cs50</a> (which also provided SQL features)</li>
                        <li><a href="https://flask.palletsprojects.com/en/3.0.x/installation/#python-version" class="acknowledgement-link">flask</a></li>
                        <li><a href="https://flask-session.readthedocs.io/en/latest/" class="acknowledgement-link">flask_sessions</a></li>
                        <li><a href="https://werkzeug.palletsprojects.com/en/3.0.x/" class="acknowledgement-link">werkzeug</a> (security and utils)</li>
                        <li><a href="#" class="acknowledgement-link">The Python Standard Library</a> (calendar, datetime, functools, logging, os, re, uuid)</li>
                    </ul>
                    I ran <a href="https://ubuntu.com/desktop/wsl" class="acknowledgement-link">Ubuntu</a> in <a href="https://learn.microsoft.com/en-us/windows/wsl/" class="acknowledgement-link">WSL</a> for development. Additionally, I also want to thank <a href="https://stackoverflow.com/" class="acknowledgement-link">Stack Overflow</a>, the visits to which got more and more frequent as the project expanded.
                    On roadblocks, <a href="https://cs50.ai" class="acknowledgement-link">CS50 Duck Debugger</a> was really helpful because as <a href="https://youtu.be/3LPJfIKxwWc?t=4237" class="acknowledgement-link">David</a> said, "the goal here is not to simply take away tools that are clearly inevitable, in my view, and clearly helpful and productivity savers, but we'd like there to be some guardrails, intellectually, on just how helpful these chatbots are".
                    This project also introduced me to <a href="https://git-scm.com/" class="acknowledgement-link">Git</a> and <a href="https://github.com/" class="acknowledgement-link">Github</a> and Fiore's repository can be found <a class="acknowledgement-link" href="https://github.com/tintedwindow/fiore">here</a>. 
                    <div style="text-align: center; margin: 30px 0px 35px 0px;">
                        Once again, I was standing on the shoulder of giants.
                        <br> 
                        From the bottom of my heart, <a href="/italy" class="yellow-highlight" style="background-color: #FFEFEF;"> thank you! </a>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>




<script>
     document.addEventListener("DOMContentLoaded", function() {

        let storyToggle = document.getElementById("story-toggle");
        let storyText = document.getElementById("story-text");

        storyToggle.addEventListener("click", function() {
            storyToggle.classList.toggle('story-toggle-blue');
            storyToggle.classList.toggle('story-toggle-blue-lighter');
            storyText.classList.toggle('story-display-none');
        })
     })
</script>
{% endblock %}
