{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>Acknowledgements</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_landing.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <style>
        .story-display-none {
            display: none;
        }
        .story-toggle-blue {
            color: #0081f2;
        }

        .story-toggle-blue-lighter {
            color: rgb(158, 210, 245) ;
        }

        .acknowledgement-link-temp {
            text-decoration: underline;
            text-decoration-color: rgb(158, 210, 245);
            text-decoration-thickness: 1px;
            text-underline-offset: 7px;
        }

        .acknowledgement-link {
            color: #2b70ad;
            text-decoration :none;
        }        

        #story-text{
            /*
            padding: 0px 10px; 
            background-color: rgba(0, 204, 255, 0.01);
            border: 1px solid rgba(0, 0, 0, .075);
            border-radius: 7px;
            */
        }
    </style>
{% endblock %}

{% block content %}

<div class="content-container">
    <div class="content">
        <div class="home-hero">
            <div class="hero-title">
                Thank you for making this possible
            </div>
            <div class="description-container">
                <div class="hero-description-footer" style="text-align: justify;">
                    <div style="margin-bottom: 15px;">
                        <a class="grey-highlight" href="https://cs50.harvard.edu/x/" target="_blank" >This is <span style="text-decoration:line-through; text-decoration-thickness: 1px; opacity: 0.6;">a</span> CS50 <span style="text-decoration:line-through; text-decoration-thickness: 1px; opacity: 0.6;">project</span>.</a>
                        <br>
                        <div style="text-align: right;">
                            <a class="text-dsunderline" target="_blank">Perhaps, the course that shaped me as a programmer and more so, a problem solver</a> <span title="Read more" id="story-toggle" class="story-toggle-blue"  style="cursor: pointer;">...</span>
                        </div>
                    </div>
                    <div id="story-text" class="story-display-none" style="justify-content: left; margin: 15px 0px;">
                        When I started thinking of a project idea, initially I wanted to create a mini version of <a class="acknowledgement-link" href="https://www.geoguessr.com/" target="_blank"> Geoguessr</a> because I loved it so much (basically a game where you are placed in a random street view around the world and you have to guess where you are), and when I saw it was possible via <a class="acknowledgement-link" href="https://openguessr.com/" target="_blank">OpenGuessr</a>, I was eager to start my final project for CS50.
                        However, I soon realized that Geoguessr relies on <a class="acknowledgement-link" href="https://developers.google.com/maps/documentation/javascript/streetview" target="_blank">Google Street View Service</a>, and using it's API requires a Google Cloud account, which involves billing and a credit card- something I didn't have at that time.
                        This was a frustrating setback, especially since the idea of creating a mini Geoguessr had excited me so much.
                        <br>
                        It was also around the time Apple was having one of their WWDC events, and me having watched that, YouTube was recommending me older WWDC videos. And that's when I saw WWDC 2013.
                        <div style="text-align: center; margin: 5px 0px;">
                            'The first thing we ask is <a class="grey-highlight" target="_blank"> what do we want people to feel?</a>'
                        </div>
                        That line deeply resonated with me. As someone who always saw exploring street view as a means of escape, a calming feeling waiting for me in a random street of the world (especially <a class="acknowledgement-link" href="/italy" style="color: #EEBB4D ;">Italy</a>), 
                        I knew what I wanted my project to make people feel.
                        <br>
                        I also had started journaling, thanks to <a class="acknowledgement-link" href="https://youtube.com/@unjadedjade?si=5wTQWJ2Yxvby-Smi" target="_blank">Jade</a>, <a class="acknowledgement-link" href="https://youtu.be/rfeADdY1rHw?si=E9oqRKs0nkAiU1B9" target="_blank">Nathaniel</a>, <a class="acknowledgement-link" href="https://youtube.com/@malamalife?si=JbBsnp9NorT1PCfL" target="_blank">Sophie</a>, <a class="acknowledgement-link" href="https://youtu.be/JHKiDe8E4hY?si=wx-zuqzTXF0_5pUl" target="_blank">Ali</a> and <a class="acknowledgement-link" href="https://youtu.be/ZK5VUuxGYr0?si=pASTZSfYItzVb7nH" target="_blank">Sadia</a>.
                        At first, the experience was mixed since I had just started, but soon everything began to fall into place.
                        What made it easier to journal was on <a class="acknowledgement-link" href="https://youtu.be/JHKiDe8E4hY?si=wx-zuqzTXF0_5pUl" target="_blank">Ali's suggestion</a> to try an app called <a class="acknowledgement-link" href="https://dayoneapp.com/web/" target="_blank">Day One</a>, a digital journal, where on a free account, you were limited to one entry a day.
                        And this free plan limitation surprisingly ended up helping me in simplifying my journaling habits!
                        <br>
                        This limitation and the simplicity that came along with it ultimately led me to a vague idea I sketched on my <a class="acknowledgement-link" href="https://keep.google.com/" target="_blank">Keeps</a> one night that if I could combine the feeling of looking at a place or a memory and associating it with a day, it could work.
                        And thus, the idea for Fiore was born: Framing Instances on Rectangles Everyday.
                        This project made me realize that there's so much to learn for me and it also made me realize that I infact did when I finally solved each challange whether it was flying the nett and setting up local development and making Flask work, or going from a table tag to divisions that represent days in Fiore now :)
                    </div>
                    <div>
                        I have always been a <a class="acknowledgement-link" href="https://www.notion.so/" target="_blank">Notion</a> user and I've always admired it for it's simplicity and organization. I remember the first time visiting <a class="acknowledgement-link" href="https://www.notion.so/personal" target="_blank">their website</a> and being so inspired by it that I dreamt of making one like it. And, this project was the opportunity that aligned perfectly. I also drew inspiration from cool features on other websites, like the apology page from <a class="acknowledgement-link" href="https://www.wizardingworld.com/apology">Wizarding World</a> with its playful broken link reference to a misspelt teleportation spell or the <a class="acknowledgement-link" href="https://labs.google.com/search">Google Labs</a> page, showcasing Google's AI tools in a nice carousel. 
                        All of them came together to create a feeling reflecting the calmness of a simple and organized journal app which takes you to a Mediterranean Italian coast, Fiore.
                        <br>
                        For the project’s development, I used <a class="acknowledgement-link" href="https://fonts.google.com/" target="_blank">Google Fonts</a> to incorporate the <a class="acknowledgement-link" href="https://fonts.google.com/specimen/Inter" target="_blank">Inter font</a> and it's variations throughout the website. <a class="acknowledgement-link" href="https://icons.getbootstrap.com/" target="_blank">Bootstrap's icon library</a> was really handy for the icons. The project was built using <a class="acknowledgement-link" href="https://code.visualstudio.com/">Visual Studio Code</a> as my IDE. 
                        The backend language was <a class="acknowledgement-link" href="https://www.python.org/" target="_blank">Python</a>, the web framework used was <a class="acknowledgement-link" href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a> with <a class="acknowledgement-link" href="https://flask.palletsprojects.com/en/3.0.x/patterns/sqlite3/" target="_blank">SQLite</a> to manage the database.
                    </div>
                    Here are the Python libraries that hepled me make this project possible.
                    <ul style="text-align: left; font-size: 19px; line-height: 40px; margin-left: 15px;">
                        <li><a class="acknowledgement-link" href="https://cs50.readthedocs.io/libraries/cs50/python/" target="_blank">cs50</a> (which also provided SQLite features)</li>
                        <li><a class="acknowledgement-link" href="https://flask.palletsprojects.com/en/3.0.x/installation/#python-version" target="_blank">flask</a></li>
                        <li><a class="acknowledgement-link" href="https://flask-session.readthedocs.io/en/latest/" target="_blank">flask_sessions</a></li>
                        <li><a class="acknowledgement-link" href="https://werkzeug.palletsprojects.com/en/3.0.x/" target="_blank">werkzeug</a> (security and utils)</li>
                        <li><a class="acknowledgement-link" href="#" target="_blank">The Python Standard Library</a> (calendar, datetime, functools, logging, os, re, uuid)</li>
                    </ul>
                    I ran <a class="acknowledgement-link" href="https://ubuntu.com/desktop/wsl" target="_blank">Ubuntu</a> in <a class="acknowledgement-link" href="https://learn.microsoft.com/en-us/windows/wsl/" target="_blank">WSL</a> for development. Additionally, I want to thank <a class="acknowledgement-link" href="https://stackoverflow.com/" target="_blank" >Stack Overflow</a>, the visits to which got more and more frequent as the project expanded.
                    On roadblocks, <a class="acknowledgement-link" href="https://cs50.ai" target="_blank" >CS50 Duck Debugger</a> was really helpful.
                    This project also introduced me to <a class="acknowledgement-link" href="https://git-scm.com/" target="_blank">Git</a> and <a class="acknowledgement-link" href="https://github.com/" target="_blank">Github</a> and Fiore's repository can be found <a class="acknowledgement-link" href="https://github.com/tintedwindow/fiore" target="_blank">here</a>. 
                    <div style="text-align: center; margin: 30px 0px 35px 0px;">
                        Once again, I was standing on the shoulder of giants.
                        <br> 
                        From the bottom of my heart, <a class="yellow-highlight" href="/italy" style="background-color: #FFEFEF;"> thank you! </a>
                    </div>
                </div>   
            </div>git ad
        </div>
    </div>
</div>




<script>
     document.addEventListener("DOMContentLoaded", function() {

        let storyToggle = document.getElementById("story-toggle");
        let storyText = document.getElementById("story-text");

        storyToggle.addEventListener("click", function() {
            storyToggle.classList.toggle('story-toggle-blue');
            storyToggle.classList.toggle('story-toggle-blue-lighter');
            storyText.classList.toggle('story-display-none');
        })
     })
</script>
{% endblock %}
