{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <title>Apology!</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_day.css') }}">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="content">
            <p style="font-size: 26px;">
                {{message}}
            </p>
        </div>
    </div>
{% endblock %}