{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff -->

    <title> {{day}} {{month_name}} {{year % 100}} </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_day.css') }}">
{% endblock %}

<body>

{% block content %}
    <div class="content-container">
        <div class="content">
            <div class="day-page-container">
                <div class="day-page-body">
                    <div class="day-page-image-container">
                        <img  alt="{{ 'day-' ~ day }}" class="day-page-image" src="{{ url_for('uploaded_file', filename=day_details[0]['path']) }}" title="{{day}}"> 
                    </div>
                    <div class="day-page-delete">
                        <button class="bin" style="margin-right: 20px;" title="Delete Entry">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"  class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                              </svg>  
                        </button>
                    </div>
                    <div class="day-page-info">
                        <div class="calendar-month">
                            <form action="/entry-scroll" method="get" title="Previous Entry">
                                <input name="updater" type="hidden" value="-1">
                                <input name="day" type="hidden" value="{{day}}">
                                <input name="month" type="hidden" value="{{month}}">
                                <input name="year" type="hidden" value="{{year}}">
                                <button class="arrow" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                    </svg>
                                </button>
                            </form>
        
                            <div class="calendar-month-year">
                                    <a class="calander-back-home" href="/home" title="Back to Calander">
                                        {{day}} {{month_name}} {{year}}
                                    </a>
                            </div>
        
                            <form action="/entry-scroll" method="get" title="Next Entry">
                                <input name="updater" type="hidden" value="1">
                                <input name="day" type="hidden" value="{{day}}">
                                <input name="month" type="hidden" value="{{month}}">
                                <input name="year" type="hidden" value="{{year}}">
                                <button class="arrow" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>        
            

                <div class="day-page-description">
                    {% if day_details[0]['description'] %} 
                    <pre style="color: inherit; white-space: pre-wrap;">{{ day_details[0]['description'] }}</pre>
                    {% endif %}
                </div>
                <div class="back-to-home"> 
                    <a href="/home?month={{month}}&year={{year}}">Back to {{month_name}}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Status nav bar-->
    <div id="notification-bar">
        <div id="notification-info">
            Delete the entry for <span id="notification-date"></span>?
        </div>
        <div id="notification-buttons">
            <form id="deletion-form" style="display: none;" action="/delete" method="post">
                <input name="day" type="hidden" value="{{day}}">
                <input name="month" type="hidden" value="{{month}}">
                <input name="year" type="hidden" value="{{year}}">
            </form>
            <div id="notification-yes">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                    </svg>
            </div>
            <div id="notification-no">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
            </div>
        </div>
    </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
       const deleteBin = document.querySelector(".bin");
       const notificationBar = document.getElementById('notification-bar');
       const notificationButtons = document.getElementById('notification-buttons');
       const notificationDate = document.getElementById('notification-date');
       var imageDate = document.querySelector(".calander-back-home").textContent;
       notificationBar.style.backgroundColor = '#FF8080';
       notificationDate.textContent = imageDate;

       deleteBin.addEventListener('click', function (event) {
            console.log("clicked bin");
            console.log(imageDate);
            notificationButtons.style.display ="flex";
            notificationBar.style.display = "flex";
        });

        const notificationYes = document.getElementById("notification-yes");
        const notificationNo = document.getElementById("notification-no");

        notificationYes.addEventListener('click', function (event) {
            document.getElementById("deletion-form").submit();
        });

        notificationNo.addEventListener('click', function (event) {
            notificationButtons.style.display ="none";
            notificationBar.style.display = "none";
        });
    });
</script>
{% endblock %}