{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff -->

    <title> {{day}} {{month_name}} {{year % 100}} </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_day.css') }}">
{% endblock %}

<body>

{% block content %}
    <div class="content-container">
        <div class="content">
            <div class="day-page-container">
                <div class="day-page-body">
                    <div class="day-page-image-container">
                        <img  alt="{{ 'day-' ~ day }}" class="day-page-image" src="{{ url_for('uploaded_file', filename=day_details[0]['path']) }}" title="{{day}}"> 
                    </div>
                    <div class="day-page-info">
                        <div class="calendar-month">
                            <form action="/entry-scroll" method="get" title="Previous Entry">
                                <input name="updater" type="hidden" value="-1">
                                <input name="day" type="hidden" value="{{day}}">
                                <input name="month" type="hidden" value="{{month}}">
                                <input name="year" type="hidden" value="{{year}}">
                                <button class="arrow" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                    </svg>
                                </button>
                            </form>
        
                            <div class="calendar-month-year">
                                    <a class="calander-back-home" href="/home" title="Back to Calander">
                                        {{day}} {{month_name}} {{year}}
                                    </a>
                            </div>
        
                            <form action="/entry-scroll" method="get" title="Next Entry">
                                <input name="updater" type="hidden" value="1">
                                <input name="day" type="hidden" value="{{day}}">
                                <input name="month" type="hidden" value="{{month}}">
                                <input name="year" type="hidden" value="{{year}}">
                                <button class="arrow" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>        
            

                <div class="day-page-description">
                    {% if day_details[0]['description'] %} 
                    <pre style="color: inherit; white-space: pre-wrap;">{{ day_details[0]['description'] }}</pre>
                    {% endif %}
                </div>
                <div class="back-to-home"> 
                    <a href="/home">Back to Fiore</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}