<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_main.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo">
                <div class="logo"></div>
                <div class="logo-text">Fiore</div>
            </div>
            <div class="nav-inner">
                <div class="nav-inner-left">
                    <ul class="nav-list">
                        <li class="nav-list-item">About Us</li>
                        <li class="nav-list-item">Resources</li>
                        <li class="nav-list-item">Acknowledgements</li>
                        <li class="nav-list-item">Italy?</li>
                    </ul>
                </div>
                <div class="nav-inner-right">
                    <ul class="nav-list">
                        <li class="nav-list-item">{{ name }}</li>
                        <div class="nav-menu-divider"></div>
                        <li class="nav-list-item pseudo-button">Log out</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="content-container">
        <div class="content">
            
            <div class="calander">
                <!-- class for month, year and scroll-->
                <div class="calander-info">
                    <div class="calander-month">
                        <form action="/home" method="post">
                            <input type="hidden" name="month_updater" value="-1">
                            <button class="arrow" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                  </svg>
                            </button>
                        </form>
    
                        <div class="calander-month-year">                  
                            {{month_name}} {{year}}
                        </div>
    
                        <form action="/home" method="post">
                            <input type="hidden" name="month_updater" value="1">
                            <button class="arrow" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                  </svg>
                            </button>
                        </form>
                    </div>
                </div>

                <!-- class for day names, and the dates-->
                <div class="calander-body">
                    <div class="calander-week-head">
                        <div class="calander-day-name">MON</div>
                        <div class="calander-day-name">TUE</div>
                        <div class="calander-day-name">WED</div>
                        <div class="calander-day-name">THU</div>
                        <div class="calander-day-name">FRI</div>
                        <div class="calander-day-name">SAT</div>
                        <div class="calander-day-name">SUN</div>
                    </div>
    
                    {% for week in calander %}
                        <div class="calander-week">
                            {% for day in week %}
                                {% if day == 0 %}
                                    <div class="calander-day-date-blank">
                                    </div>
                                {% else %}
                                    <div class="calander-day-date">
                                        <div class="calander-day-date-number">
                                            {{day}}
                                        </div>
                                        <svg class="calander-day-date-add" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                        </svg>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>

<!-- Modal -->
<div id="preview-modal" class="modal">
    <div id="modal-content">
        <div id="modal-image-details">
            <div id="modal-image-container">
                <div id="modal-image-date"></div>   
                <img id="modal-image" src="#" alt="Image Preview">
            </div>
            <p id="modal-text">File Selected : </p>
            <p id="modal-date"></p>
        </div>
        <div id="modal-input-text-holder">
            <textarea  id="modal-input-text" placeholder="Optionally add something to remember the day?"></textarea>
        </div>
        <div id="modal-buttons">
            <span id="submitBtn">Submit</span>
            <span id="discardBtn">Discard</span>
        </div>
    </div>
</div>

<!-- File upload hidden attribute-->
<input id="file-input-common" style="display:none;" type="file" accept="image/png, image/jpeg">
</body>
</html>