{% extends "layout_main.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<p style="font-size: 26px;">
    <span style="color: #be84b7;">{{name}}</span> is currently logged in &lt;3
    <br>
    <br>
    <a href="/logout">logout?</a>
</p>

<div class="calander-container">
    <table class="calander">
        <tr>
            <th>SUN</th>
            <th>MON</th>
            <th>TUE</th>
            <th>WED</th>
            <th>THU</th>
            <th>FRI</th>
            <th>SAT</th>
        </tr>

        {% for week in calander %}
            <tr>
                {% for day in week %}
                    <td>
                        {% if day != 0 %}
                            {{day}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}