{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>Welcome to Fiore</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_landing.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{{ url_for('uploaded_file', filename=images_by_day[day]['image_path']) }}

{% block content %}
    <div class="content-container">
        <div class="content">
            <div class="home-hero">
                <div class="hero-title">
                    Fiore
                </div>
                <div class="hero-title-footer">
                    Frames In Orderly Rectangles Everyday
                </div>
                <div class="hero-title-buttons">
                    <a id="hero-login" href="/login">Log in here</a>
                    <a id="hero-register" href="/register">Register for free -></a>
                </div>
                <div class="hero-image-container">
                    <img class="hero-image" src="{{ url_for('uploaded_file', filename='static/home_image_tight.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}