<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts api?-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!-- login styles-->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles_login.css') }}">
    <title>Fiore - {% block title %} {% endblock %}</title>
</head>

<body>
    {% block main %}{% endblock %}
</body>

<script>
    document.querySelectorAll('.input-field').forEach(function(inputField) {
        inputField.addEventListener('focus', function() {
            this.parentElement.classList.add('input-container-focus');
        });
        inputField.addEventListener('blur', function() {
            this.parentElement.classList.remove('input-container-focus');
        });
    });
    
    document.querySelectorAll('.password-eye').forEach(function(passwordEye) {
        let passwordField = passwordEye.previousElementSibling;
        passwordEye.addEventListener('click', function() {
            if (passwordField.type === "password") {
            passwordField.type = "text";
            this.innerHTML = `
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
            `;
            } else {
                passwordField.type = "password";
                this.innerHTML =`
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                `;
            }
        });
    });

    // user login feedback via ajax
    document.querySelector('.confirmation-form').addEventListener('submit', function(event){
        event.preventDefault();

        const password = document.querySelector('.input-password').value;
        var errorMessageText = document.getElementById('error-message');

        if (!password) {
            errorMessageText.style.display = "block";  // Display the error message
            errorMessageText.textContent = "Password cannot be blank.";
            return; 
        }

        fetch('/delete-account', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({password: password })
            })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = "/";
            } else {
                console.log(data);
                errorMessageText.style.display = "block";
                errorMessageText.textContent = data.error;
            }
        });
    });
</script>
</html>