{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff -->

    <title> {{username}} | Profile </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_profile.css') }}">
{% endblock %}

<body>

{% block content %}
    <div class="content-container">
        <div class="content">
            <div class="user-info">
                <div class="user-name">
                    <span id="greeting-text">Hi</span>, tinted!</div>
                <div class="user-stats">
                    <span>Account created: 2 May 2024</span> 
                    <span>Total Entries: 230</span>
                    <span>Entries with description: 45</span>
                </div>
            </div>
            <div class="entry-list-table">
                <div class="entry-list-head">
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                                <path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title"></div>
                    </div>
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title">Date</div>
                    </div>
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg"width="1em" height="1em" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title">Added On</div>
                    </div>
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-text-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title">Description</div>
                    </div>
                </div>
                <div class="entry-list-body">
                    {% for key, value in entries_by_day.items() %}
                        <div class="entry-list-entry">
                            <div class=""> {{ loop.index }}</div>
                            <div class="">{{ key }}</div>
                            <div class="">{{ value["upload_date"] }}</div>
                            <div class="">{{ value["description"] }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<script>
    let currentHour = new Date().getHours();
    let greetingText = document.getElementById('greeting-text');

    if (currentHour < 12) {
        greetingText.innerHTML = "Good morning";
    }
    else if (currentHour >= 12 && currentHour < 18) {
        greetingText.innerHTML = "Good afternoon";
    }
    else {
        greetingText.innerHTML = "Good evening";
    }
</script>
{% endblock %}