{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff -->

    <title> {{ session["user_name"] }} | Profile </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_profile.css') }}">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="content">
            <div class="user-info">
                <div class="user-name">
                    <span id="greeting-text">Hi</span>, {{ session["user_name"] }}!</div>
                <div class="user-stats">
                    <span>Account created: {{ creation_date}}</span> 
                    <span>Total Entries: {{ entry_count}}</span>
                    <span>Entries with description: {{ description_count}}</span>
                </div>
            </div>
            <div class="entry-list-table">
                <div class="entry-list-head">
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                                <path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title"></div>
                    </div>
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title">Date</div>
                    </div>
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg"width="1em" height="1em" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                                <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title">Added On</div>
                    </div>
                    <div class="entry-list-head-item">
                        <div class="entry-list-head-icon">
                            <svg class="entry-list-head-icon-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-text-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </div>
                        <div class="entry-list-head-title">Description</div>
                    </div>
                </div>
                <div class="entry-list-body">
                    {% for key, value in entries_by_day.items() %}
                        <a class='row-wrapper-link'>
                            <div class="entry-list-entry">
                                <div class=""> {{ loop.index }}</div>
                                <div class="entry-date">{{ key }}</div>
                                <div class="">{{ value["upload_date"] }}</div>
                                <div class="">{{ value["description"] if value["description"] }}</div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="delete-account-trigger" style="margin-top: 20px; padding: 5px 20px; cursor: pointer; border-radius: 5px; background-color: rgba(0, 0, 0, 0.05); font-optical-sizing: auto; font-weight: 570; font-style: normal; font-variation-settings: 'slnt' 0;">
            Delete Account
        </div>
    </div>

 
    <!-- Modal -->
    <div id="preview-modal" class="modal">
        <div id="modal-content">
            <div id="modal-details">
                <p id="modal-title">
                    Are you sure you want to delete your account? 
                    <br>
                    This action cannot be undone.
                </p>
            </div>
            <div id="modal-confirmation-holder">
                <p id="modal-confirmation-text">Please re-enter your password to confirm account deletion.</p>
                <form class="confirmation-form">
                    <div class="input-container">
                        <input class="input-field input-password" autocomplete="off" name="password" placeholder="Password" type="password">
                        <svg class="password-eye" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                    <p id="error-message">weeeeeee</p>
                    <button type="submit" id="delete-account">Delete Account</button>
                </form>
            </div>
            <div id="modal-buttons">
                <span id="modal-yes">Yes</span>
                <span id="modal-discard">Discard</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_js %}
    <script>

        // greets user
        let currentHour = new Date().getHours();
        let greetingText = document.getElementById('greeting-text');

        if (currentHour < 12) {
            greetingText.innerHTML = "Good morning";
        }
        else if (currentHour >= 12 && currentHour < 18) {
            greetingText.innerHTML = "Good afternoon";
        }
        else {
            greetingText.innerHTML = "Good evening";
        }

        // sets href of each <a> wrapping tag the row's date
        document.querySelectorAll(".entry-list-entry").forEach(function(entry) {

            let entryDate = entry.querySelector('.entry-date').innerHTML;
            console.log(entryDate);
            let dateParts = entryDate.split("-");
            let aTag = entry.closest('a');
            if (aTag) {
                aTag.href = "day-info?d=" + dateParts[0] + "&m=" + dateParts[1] + "&y=" + dateParts[2];
            }

        });


        // for the account deletion process
        document.getElementById("delete-account-trigger").addEventListener('click', function() {
            document.getElementById('preview-modal').style.display = "flex";
        });

        function resetModal() {
            document.getElementById('modal-confirmation-holder').style.display = "none";
            document.getElementById('preview-modal').style.display = "none";
            document.getElementById('modal-yes').style.display = "block";
        }

        var modalYes = document.getElementById('modal-yes');
        var modalDiscard = document.getElementById('modal-discard');

        // close modal simply if discard is clicked
        modalDiscard.addEventListener('click', resetModal);
        
        modalYes.addEventListener("click", function(){
            document.getElementById('modal-confirmation-holder').style.display = "flex";
            document.getElementById('modal-yes').style.display = "none";
        });

        document.querySelectorAll('.input-field').forEach(function(inputField) {
            inputField.addEventListener('focus', function() {
                this.parentElement.classList.add('input-container-focus');
            });
            inputField.addEventListener('blur', function() {
                this.parentElement.classList.remove('input-container-focus');
            });
        });

        document.querySelector('.confirmation-form').addEventListener('submit', function(event){
            event.preventDefault();

            const password = document.querySelector('.input-password').value;
            var errorMessageText = document.getElementById('error-message');

            if (!password) {
                errorMessageText.style.display = "block";  // Display the error message
                errorMessageText.textContent = "Password cannot be blank.";
                return; 
            }

            fetch('/delete-account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({password: password })
                })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "/";
                } else {
                    console.log(data);
                    errorMessageText.style.display = "block";
                    errorMessageText.textContent = data.error;
                }
            });
        });

        // password eye
        document.querySelectorAll('.password-eye').forEach(function(passwordEye) {
        let passwordField = passwordEye.previousElementSibling;
        passwordEye.addEventListener('click', function() {
            if (passwordField.type === "password") {
            passwordField.type = "text";
            this.innerHTML = `
                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
            `;
            } else {
                passwordField.type = "password";
                this.innerHTML =`
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                `;
            }
        });
    });

    </script>

{% endblock %}