{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="content-container">
        <div class="content">
            <div class="login-container">
                <form class="login-form">
                    <div class="description-hero">
                        Create your  
                            <a class="hero-home" href="/">Fiore</a> 
                        account
                    </div>
                    <div class="input-container">
                        <input class="input-field login-form-input-text" autocomplete="off" autofocus name="username" placeholder="Pick a username..." type="text">
                    </div>
                    <div class="input-container">
                        <input class="input-field login-form-input-password" autocomplete="off" name="password" placeholder="Make a password" type="password">
                        <svg class="password-eye" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                    <div class="input-container">
                        <input class="input-field login-form-input-password" autocomplete="off" name="confirmation" placeholder="Confirm your password" type="password">
                        <svg class="password-eye" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg>
                    </div>
                    <div id="description">
                        {{ message }}
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block additional_js %}
    <script>
    // user registration feedback via ajax
    document.querySelector('.login-form').addEventListener('submit', function(event){
        event.preventDefault();

        const username = document.querySelector('.login-form-input-text').value;
        const passwords = document.querySelectorAll('.login-form-input-password');
        const password = passwords[0].value;
        const passwordConfirm = passwords[1].value;
        var errorMessageText = document.getElementById('description');

        if (!username) {
            errorMessageText.style.display = "block";
            errorMessageText.textContent = "Username cannot be blank.";
            return;
        }
        if (!password || !passwordConfirm) {
            errorMessageText.style.display = "block";  // Display the error message
            errorMessageText.textContent = "Password cannot be blank.";
            return; 
        }
        if (password != passwordConfirm) {
            errorMessageText.style.display = "block";  // Display the error message
            errorMessageText.textContent = "Passwords do not match";
            return; 
        }

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                password: password,
                passwordConfirm: passwordConfirm
            })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(error => { throw new Error(error.error);});
            }
            return response.json();
        })
        .then(data => {
            window.location.href = "/home";
        })
        .catch(error => {
            console.log(error);
            errorMessageText.style.display = "block";
            errorMessageText.textContent = error.message;
        })
        
    });
    </script>
{% endblock %}