{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="content-container">
        <div class="content">
            <div class="login-container">
                <form class="login-form" action="/register" method="post">
                    <div class="description-hero">
                        Create your  
                            <a class="hero-home" href="/">Fiore</a> 
                        account
                    </div>
                    <input autocomplete="off" autofocus name="username" placeholder="Pick a username..." type="text">
                    <input autocomplete="off" name="password" placeholder="Make a password" type="password">
                    <input autocomplete="off" name="confirmation" placeholder="Confirm your password" type="password">
                    {% if message %}
                        <div class="description">
                            {{ message }}
                        </div>
                    {% endif %}
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}