{% extends "page_with_nav.html" %}

{% block static %}
    <!-- font specific stuff-->

    <title>Resources</title>
    <!-- style sheet and javascript-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles_resources.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <style>
        .story-display-none {
            display: none;
        }
        .story-toggle-blue {
            color: #0081f2;
        }

        .story-toggle-blue-lighter {
            color: rgb(158, 210, 245) ;
        }

        #story-text{
            /*
            padding: 0px 10px; 
            background-color: rgba(0, 204, 255, 0.01);
            border: 1px solid rgba(0, 0, 0, .075);
            border-radius: 7px;
            */
        }
    </style>
{% endblock %}

{% block content %}

<div class="content-container">
    <div class="content">
        <div class="home-hero">
            <div class="resource-container">
                <div class="resource-row">
                    <div class="resource-row-head">Music Playlist</div>
                    <div class="resource-row-description">Always good to have something playing in the background while you journal.</div>
                    <div class="resource-row-carousel">
                        <div class="resource-box">
                            <div class="recource-box-image-container">
                                <img src="{{ url_for('uploaded_file', filename='static/tuscany.jpg') }}">
                            </div>
                            <div class="resource-box-head">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4M4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0"/>
                                    <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                                <span>Afternoon in Tuscany</span> 
                            </div>
                            <div class="resource-box-text">Tuscany is one of my favorite regions of Italy. This album captures the essence of it.</div>
                            <a href="https://google.com" target="_blank">
                                <div class="resource-box-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-play" viewBox="0 0 16 16">
                                        <path style="fill: ;" d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="resource-box">
                            <div class="recource-box-image-container">
                                <img src="{{ url_for('uploaded_file', filename='static/lofi_girl.jpg') }}">
                            </div>
                            <div class="resource-box-head">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4M4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0"/>
                                    <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                                <span>Lofi Girl</span> 
                            </div>
                            <div class="resource-box-text">A lofi radio that runs 24/7 with a study with me companion.</div>
                            <a href="https://google.com" target="_blank">
                                <div class="resource-box-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-play" viewBox="0 0 16 16">
                                        <path style="fill: ;" d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="resource-box">
                            <div class="recource-box-image-container">
                                <img src="{{ url_for('uploaded_file', filename='static/purple_cat.jpg') }}">
                            </div>
                            <div class="resource-box-head">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4M4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0"/>
                                    <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                                <span>Purple Cat</span>
                            </div>
                            <div class="resource-box-text">For the evening and late night study sessions.</div>
                            <a href="https://google.com" target="_blank">
                                <div class="resource-box-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-play" viewBox="0 0 16 16">
                                        <path style="fill: ;" d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>              
                </div>
                <div class="resource-row">
                    <div class="resource-row-head">Websites</div>
                    <div class="resource-row-description">Explore the websites that inspired key features and design elements you see and feel here.</div>
                    <div class="resource-row-carousel">
                        <div class="resource-box">
                            <div class="recource-box-image-container">
                                <img src="{{ url_for('uploaded_file', filename='static/tuscany.jpg') }}">
                            </div>
                            <div class="resource-box-head">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4M4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0"/>
                                    <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                                <span>Afternoon in Tuscany</span> 
                            </div>
                            <div class="resource-box-text">Tuscany is one of my favorite regions of Italy. This album captures the essence of it.</div>
                            <a href="https://google.com" target="_blank">
                                <div class="resource-box-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-play" viewBox="0 0 16 16">
                                        <path style="fill: ;" d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="resource-row">
                    <div class="resource-row-head">AI</div>
                    <div class="resource-row-description">Did someone say AI? Quack!</div>
                    <div class="resource-row-carousel">
                        <div class="resource-box">
                            <div class="recource-box-image-container">
                                <img src="{{ url_for('uploaded_file', filename='static/tuscany.jpg') }}">
                            </div>
                            <div class="resource-box-head">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-vinyl" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4M4 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0"/>
                                    <path d="M9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                  </svg>
                                <span>Duck Debugger</span> 
                            </div>
                            <div class="resource-box-text">Because as <a class="acknowledgement-link" href="https://youtu.be/3LPJfIKxwWc?t=4237" target="_blank">David</a> said, "the goal here is not to simply take away tools that are clearly inevitable, in my view, and clearly helpful and productivity savers, but we'd like there to be some guardrails, intellectually, on just how helpful these chatbots are".</div>
                            <a href="https://google.com" target="_blank">
                                <div class="resource-box-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-play" viewBox="0 0 16 16">
                                        <path style="fill: ;" d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>                      
            </div>
        </div>
    </div>
</div>

{% endblock %}
